################################################################################
# IDEs & Editors
################################################################################

.vs/
.vscode/
!.vscode/extensions.json
.idea/

################################################################################
# Operating System
################################################################################

.DS_Store

################################################################################
# .NET Build Output
################################################################################

**/bin/
**/obj/

################################################################################
# Node.js
################################################################################

**/node_modules/
**/dist/
**/dist-ssr/

################################################################################
# Logs
################################################################################

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

################################################################################
# Environment Files
################################################################################

*.local
.env
.env.*
!.env.example

################################################################################
# Test Results
################################################################################

TestResults/

################################################################################
# Visual Studio User Files
################################################################################

*.user
*.userosscache
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.sw?